<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.thestrongbox">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".LoginReg.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeSlide.WelcomeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeSlide.IntroActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Home.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassword.ForgotPassActivity"
            android:parentActivityName=".LoginReg.LoginActivity" />
        <activity
            android:name=".LoginReg.RegisterActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".LoginReg.LoginActivity" />
        <activity
            android:name=".About.AboutAppActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity"/>
        <activity
            android:name=".ProfileSetting.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:parentActivityName=".Home.MainActivity"/>
        <activity
        android:name=".Account.AddAccountActivity"
        android:configChanges="orientation|screenSize"
        android:parentActivityName=".Home.MainActivity"/>
        <activity
        android:name=".Account.UpdateAccountActivity"
        android:configChanges="orientation|screenSize"
        android:parentActivityName=".Home.MainActivity"/>
        <activity
            android:name=".Account.ViewAccountActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity"/>
        <activity
            android:name=".ForgotPassword.ChangePasswordActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ProfileSetting.SettingsActivity"/>
    </application>

</manifest>